<table class="table">
   <thead>
      <tr>
         <th scope="col">Your Friends</th>
      </tr>
   </thead>
   <tbody>
   <% @friends.each do |f| %>
      <tr>
         <td><%= link_to f.username, user_path(f.id) %></td>
         <td><%= link_to "Unfriend", user_invitation_path(current_user.id, f.id), action: :delete, method: :delete, class: 'btn btn-danger' %></td>
      </tr>
   <% end %>
   </tbody>
</table>