<h1><%= @flag.name %></h1>

<p>Nationality: <%= @flag.nationality.capitalize %></p>

<% if current_user.admin == true %>
   <% if !@flag.approved %>
   <p>Language pending approval.</p>
   <% end %>
<% end %>

<%= link_to "Learn more about #{@flag.name} here.", @flag.wikipedia_link %>