<h1 class="text-primary">Welcome to Lingua Franca</h1>

<%= image_tag('talking-collegues-2Z693SR.jpg', class: 'img-fluid') %>

<p class="lead m4">Start your language learning journey today! Click the 'Register' button to get started!</p>