@import "bootstrap/scss/bootstrap";

.profile-pic {
   max-width: 30px;
}

body {
   background: url('select-language-learning-translate-languages-or-au-P5ELMPG.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
 }